html, body, main{
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Open Sans', sans-serif;
	color: white;
}
a {
	text-decoration: none;
	color: white;
}
header a:hover{
  color:darkgrey;
  text-decoration:underline;
}
header a:active{
  color:white;
}
span.home{
  /* Left align. */
  padding-left:0.5%;
}
span.about{
  padding-right:0.5%;
  float:right;
}

.homescreen{
	background-image: url(montreal.jpg);
	background-position: center;
	width: 100%;
	margin: 0;
	background-size: cover;
}

div.homescreen{
  /* Fill whole vertical height, need JS to support mobile header*/
  margin:auto;
  text-align:center;
  height:calc(100vh - 1.4em);
  line-height:calc(100vh + 1.4em);
  width:99%;
  overflow:hidden;
}

.homescreen p{
  /*Puts both lines centered vertically in div*/
  line-height:1.5;
  display:inline-block;
  text-align:center;
}

#big{
  font-size:8em;
}

header {
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 10;
	text-align: center;
}

nav {
	padding: 10px 0;
	margin: 0;
}

nav li {
	display: inline;
	width: 90px;
	font-family: 'Open Sans', sans-serif;
	padding-right: 5%;
	padding-left: 5%;
}
