html, body, main{
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
/*header a:hover{
  color:darkgrey;
  text-decoration:underline;
}
*/
header a:active{
  color:white;
}
span.home{
  /* Left align. */
  padding-left:0.5%;
}
span.about{
  padding-right:0.5%;
  float:right;
}
div.front{
  /* Fill whole vertical height, need JS to support mobile header*/
  margin:auto;
  text-align:center;
  height:calc(100vh - 1.4em);
  line-height:calc(100vh + 1.4em);
  width:99%;
  overflow:hidden;
}
.front p{
  /*Puts both lines centered vertically in div*/
  line-height:1.5;
  display:inline-block;
  text-align:center;
}
#big{
  font-size:8em
}
div.small{
  background-color:rgb(239, 239, 239);
	text-align:center;
	padding:0;
	position:relative;
  /*top:85vh;
	  position:absolute;
		*/
	display:inline-flex;
  /*right:4%;
  vertical-align:middle;
  padding-right:1.4%;
  padding-left:1.4%;
	*/
}

header {
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 10;
	text-align: center;
}

nav {
	padding:0;
	margin: 0;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:inherit;
}
nav li {
	/*display: inline-block;
	text-align:center;
	float:left;
	width: 90px;
	font-family: 'Open Sans', sans-serif;
	padding-right: 5%;
	padding-left: 5%;*/
	float:left;
}
li a{
	display: block;
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
	line-height:2em;
}
li a:hover{
	background-color:grey;
}
